<%- include('../v_layout/head') %>
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h1>Welcome</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <a href="/olshop">
                <div class="card btn btn-outline-primary py-5">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-store mb-3" style="font-size: 70px;"></i>
                        <h2>Online Shop</h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-6">
            <a href="/pos">
                <div class="card btn btn-outline-primary py-5">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-cash-register mb-3" style="font-size: 70px;"></i>
                        <h2>Offline POS</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<%- include('../v_layout/foot') %>