<link rel="stylesheet" href="/css-tambahan/layout-olshop.css">

<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Werehouse.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                            <button class="nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">                                
                                <i class="fa-solid fa-list"></i>
                                Category
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-sack-dollar"></i>
                            Sell
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Buy
                        </a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fa-solid fa-search"></i>
                </button>
                </form>
            </div>
        </div>
    </nav>
    <div class="collapse" id="collapseExample">
        <div class="card card-body text-white">
            <div class="row">
                <div class="col-lg-3">
                    <a href="/olshop/produk/kategori/id">Category A</a><br>
                    <a href="/olshop/produk/kategori/id">Category A</a><br>
                    <a href="/olshop/produk/kategori/id">Category A</a><br>
                    <a href="/olshop/produk/kategori/id">Category A</a><br>
                    <a href="/olshop/produk/kategori/id">Category A</a><br>
                </div>
                <div class="col-lg-3">
                    <a href="/olshop/produk/kategori/id">Category B</a><br>
                    <a href="/olshop/produk/kategori/id">Category B</a><br>
                    <a href="/olshop/produk/kategori/id">Category B</a><br>
                    <a href="/olshop/produk/kategori/id">Category B</a><br>
                    <a href="/olshop/produk/kategori/id">Category B</a><br>
                </div>
                <div class="col-lg-3">
                    <a href="/olshop/produk/kategori/id">Category C</a><br>
                    <a href="/olshop/produk/kategori/id">Category C</a><br>
                    <a href="/olshop/produk/kategori/id">Category C</a><br>
                    <a href="/olshop/produk/kategori/id">Category C</a><br>
                    <a href="/olshop/produk/kategori/id">Category C</a><br>
                </div>
                <div class="col-lg-3">
                    <a href="/olshop/produk/kategori/id">Category D</a><br>
                    <a href="/olshop/produk/kategori/id">Category D</a><br>
                    <a href="/olshop/produk/kategori/id">Category D</a><br>
                    <a href="/olshop/produk/kategori/id">Category D</a><br>
                    <a href="/olshop/produk/kategori/id">Category D</a><br>
                </div>
            </div>
        </div>
    </div>
</header>