<%- include('../../v_layout/head') %>
<%- include('../../v_layout/olshop-header') %>

<div class="container my-5">
    <h1>Produk Indeks</h1>
    <hr>
    <br>
    <div class="row">        
        <a href="/olshop/produk/tambah" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
    <br>
    <table class="table table-hover">
        <thead>
            <tr class="text-capitalize">
                <th>#</th>
                <th>Nama</th>
                <th>Kategori</th>
                <th>Harga</th>
                <th>Stok</th>
                <th>Foto</th>
                <th>Video</th>
                <th>Deskripsi</th>
                <th>Spesifikasi</th>
                <th>Info Penting</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Detail Edit Hapus</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Kolom</td>
                <td>Detail Edit Hapus</td>
            </tr>
        </tbody>
    </table>
</div>

<%- include('../../v_layout/olshop-footer') %>
<%- include('../../v_layout/foot') %>